@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {
  h2.ce-header {
    @apply text-3xl
  }
  h1.ce-header {
    @apply text-5xl
  }
  h3.ce-header {
    @apply text-2xl
  }
  h4.ce-header {
    @apply text-xl
  }
  h5.ce-header {
    @apply text-lg
  }
  h6.ce-header {
    @apply text-base
  }
}
